* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



header {
  width: 100%;
  padding: 91px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-style: solid;
  
}


.section1 ul{
  padding:0;
  margin:0;
}
.item{
  width:100%;
  height: 45px;
  min-height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0;
  margin: 0;
  
}
.item i.co{
  position: absolute;
  font-size: 25px;
  padding-left:5px;
  left:15px;
  top:10px;
}
/* .item i.co:hover{
  cursor: pointer;
} */
/* .fa-check-circle{
  color:#6eb200;
} */


.item p.text{
  position: absolute;
  padding:0;
  margin:0;
  font-size: 20px;
  left:50px;
  top:5px;
  background-color: #FFF;
  max-width:285px;
}
.lineThrough{
  text-decoration: line-through;
  color : #ccc;
}
.item i.de{
  position: absolute;
  font-size: 25px;
  right:15px;
  top:10px;
}
 .item i.de:hover{
  color:#af0000;
  cursor: pointer;
} 
.section2
{
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  
}


input{
    height: 40px;
    border: none;
}

input[type="submit"]{
  height: 40px;
  margin-top: 20px;
  right:20px;
  
}


/* .main container{
  display:flex ;
  flex-direction: column;
  justify-content: space-between;
} */

.lineThrough{
  text-decoration: line-through;

}